aiohttp
async_generator
bs4
emoji
google-api-python-client
googletrans>=2.4.0
google_images_download>=2.7.1
hachoir
pybase64>=0.4.0
pylast
pySmartDL
python-barcode
python-dotenv
youtube-dl
requests>=2.18.4
speedtest-cli>=2.0.2
sqlalchemy>=1.2
telethon==1.9.8
telethon-session-sqlalchemy>=0.2.6
telegraph
psycopg2
psycopg2-binary
humanize
